{% extends "trees/base.html" %}

{% block content %}
  <form method="get">
    <input type="text" name="query" placeholder="Search for a family member">
    <button type="submit">Search</button>
  </form>
  
  {% if results %}
    <ul>
      {% for person in results %}
        <li>
	  {{ person.first_name }} {{ person.last_name }}
	  {% if person.children.all %}
	    <ul>
	      {% for child in person.children.all %}
	        <li>{{ child.first_name }} {{ child.last_name }}</li>
		{% if child.children.all %}
		  <ul>
		    {% for great_child in child.children.all %}
		      <li>{{ great_child.first_name }} {{ great_child.last_name }}</li>
		      {% if great_child.children.all %}
		        <ul>
			  {% for great_great in great_child.children.all %}
			  <li>{{ great_great.first_name }} {{ great_great.last_name }}</li>
			  {% endfor %}
			</ul>
		      {% endif %}
		    {% endfor %}
		  </ul>
		{% endif %}
	      {% endfor %}
	    </ul>
	  {% endif %}
	</li>
      {% endfor %}
    </ul>           													
  {% else %}														      <p>No results found.</p>												  {% endif %}
{% endblock content %}
